@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap');

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

h1,h2,h3 {
    font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", sans-serif;
}

h2 {
    border-bottom: solid #1e366a 1px; 
}

ul {
    padding-left: 0.5em;
}



ol.answers {
    list-style: upper-alpha;

    padding: 0 1em;
}

ul li,ol li {
    padding: 1em;
    list-style-position: inside;
}

ol.answers li:hover {
    border: 0.1em solid #1e366a;
    background-color: #e5ecfc;
    padding: 0.9em;
    cursor: pointer;
}


span#correct-answer {
    font-weight: bold;
}

#main {
    padding: 0 1.5em;
}

div.section {
    margin-top: 2em;
}

div#section-correct-answer {
    display: none;
}
